*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.container1{
    width: 35%;
    height: 100%;

    background-color: beige;

    

}

.container2{
    width: 65%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro{
    width: 400px;
    height: 500px;

    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.label-input{
    display: flex;
    flex-direction: column;
}

.label-input input{
    height: 50px;
    border-radius: 10px;
    border: 3px solid hsl(270, 3%, 87%);
    font-size: 15px
}
.data-cvv{
    display: flex;
    justify-content: space-between;
}
.data-cvv input{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid hsl(279, 6%, 55%);
    font-size: 15px
}

.data-cvv .input-cvv{
    width: 180px;
}

button{
    height: 60px;
    border-radius: 20px;

    background-color:  hsl(278, 68%, 11%);
    color: white;

}
.container1{
    background-image: url(bg-main-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;

}
.cartao-centralizado{
    width: 900px;
    height: 600px;

    margin: 0 0 0 300px;

    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.margin-direita{
    margin:0 0 0 150px ;
    transition: 0.5s;
}
.margin-esquerda{
    margin: 0 150px 0 0;
    transition: 0.5s;
}
.cartao1-em-uso{
    width: 450px;
    height: 250px;
    border-radius: 20px;
    padding: 2em;

    transition: 0.5s;

    background-color: aqua;
    background-image: url(bg-card-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cartao2{
    width: 450px;
    height: 250px;
    border-radius: 20px;

    transition: 0.5s;

    background-color: aqua;
    background-image: url(bg-card-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cartao1-numeros{
    text-align: center;
    color: white;
    font-size: 25px;
    
}