*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.container1{
    width: 35%;
    height: 100%;

    background-color: beige;

    

}

.container2{
    width: 65%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro{
    width: 450px;
    height: 550px;

    background-color: ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.label-input{
    display: flex;
    flex-direction: column;
}

.label-input input{
    margin: 0.5em 0;

    height: 50px;
    border-radius: 10px;
    border: 3px solid hsl(270, 3%, 87%);
    font-size: 15px
}
.data-cvv{
    display: flex;
    justify-content: space-between;
}
.data-cvv input{
    margin: 0.5em 10px 0 0 ;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid hsl(270, 3%, 87%);
    font-size: 15px
}
.label-fraco{
    color: rgb(119, 115, 115);
}
.data-ajuste{
    display: flex;
    flex-direction: column;
}

.data-cvv .input-cvv{
    width: 180px;
}

button{
    height: 60px;
    border-radius: 10px;

    background-color:  hsl(278, 68%, 11%);
    color: white;

}
label{
    font-size: 18px;
}
.container1{
    background-image: url(bg-main-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;

}
.cartao-centralizado{
    width: 900px;
    height: 600px;

    margin: 0 0 0 500px;

    background-color: ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.margin-direita{
    margin:0 0 0 150px ;
    transition: 0.5s;
}
.margin-esquerda{
    margin: 0 150px 0 0;
    transition: 0.5s;
}
.cartao1-em-uso{
    width: 450px;
    height: 250px;
    border-radius: 20px;
    padding: 1.5em 2em;

    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url(bg-card-front.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    box-shadow: 5px 40px 100px black;
}

.cartao2{
    width: 450px;
    height: 250px;
    border-radius: 20px;

    transition: 0.5s;

    background-color: aqua;
    background-image: url(bg-card-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: end;

    box-shadow: 5px 40px 80px black;
}

.cvv{
    margin: 110px 45px ;

    font-size: 25px;
    color: white;
}

.cartao1-numeros{
    margin-top: 20px;
    color: white;
    font-size: 25px;
    letter-spacing: 0.25em;
    
}

.spaced-input {
    letter-spacing: 2em;
  }

.nome-data{
    color: white;

    width: 100%;
    height: 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mensagem-sucesso-show{
    width: 450px;
    height: 550px;
    padding: 100px 0 ;

    background-color: white;
    position: absolute;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.mensagem-sucesso-no{
    width: 450px;
    height: 550px;
    padding: 100px 0 ;

    background-color: white;

    display: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.mensagem-sucesso button{
    width: 100%;
}
.mensagem-sucesso h1{
    font-size: 25px;
    letter-spacing: 0.2em;
}
.mensagem-sucesso p{
    font-size: 20px;
    color:  rgb(119, 115, 115);
}